/*
GOOGLE FONTS
font-family: 'Metal Mania', cursive;
font-family: 'IM Fell Great Primer', serif;
*/

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Metal Mania', cursive;
}

* {
    font-family: 'IM Fell Great Primer', serif;
}

#map {
    height: 500px;
    width: 50%;
}

body {
    padding-top: 69px;
    background-color: rgba(0, 0, 0, 0.7);
}

.logo {
    width: 25%;
    margin: 0 auto;
}

.logo-container {
    border-top-right-radius: 0.2em;
    border-top-left-radius: 0.2em;
    background: url("../img/bg-background2.jpg") no-repeat fixed top;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding-top: 10%;
    padding-bottom: 15%;
}

p.slogan {
    font-size: 2rem;
    text-align: center;
    color: white;
    font-weight: bold;
}

p.slogan span,
    {
    font-size: 1.5rem;
}

span {
    font-family: 'Metal Mania', cursive;
    color: orangered;
    font-weight: bold;
}

.logo-top h1,
.logo-top {
    font-size: 1.6rem;
    padding: 0;
    margin: 0;
}

.main-container {
    background-color: white;
    margin: 0 auto;
    padding: 0;
}

.footer-site {
    width: 100%;
    padding-bottom: 30px;
}

.footer-site div.container {
    background-color: white;
    padding-bottom: 10px;
    border-bottom-right-radius: 0.5em;
    border-bottom-left-radius: 0.5em;
}

img.acomodar {
    width: 100%;
}

.articles {
    display: block;
    border-radius: 0.3em;
    text-align: center;
    transition: all .2s ease-in-out;
}

h3 {
    background-color: orange;
    width: 100%;
    text-align: center;
}

.articles:hover {
    background-color: orangered;
    color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    transform: scale(1.1);
}

.navbar {
    background-color: rgba(0, 0, 0, 0.4);
}

li.nav-item a {
    border: 3px solid transparent;
}

ul li:hover>a {
    border-bottom-color: orangered;
}