body {
    padding-top: 100px;
    background-color: rgba(0, 0, 0, 0.7);
    
}

* {
    font-family: 'IM Fell Great Primer', serif;
}


h1,h2,h3{
    font-family: 'Metal Mania', cursive;
}

.logo {
    width: 25%;
    margin: 0 auto;
}


h1{ 
    text-align: center;
    color: white;
    width: 75%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

h2{
    font-size: larger;
    color: orangered;
}

h3{
    font-size: larger;
    color: white;
}



.container{
    margin: 20px;
    padding: 20px;
}

.row{
    text-align: center;
}

.foto{
    margin: 20px;
    padding: 20px;
}


#imgAlfonso{
    width: 290px;
}