body {
    padding-top: 100px;
    background-color: rgba(0, 0, 0, 0.7);
    
}

.logo {
    width: 25%;
    margin: 0 auto;
}

.col-md-12{
    color: white;
    text-align: center;
    image-orientation: initial;
    font-family: 'Metal Mania', cursive;
}

h1{
    font-family: 'Metal Mania', cursive;
}