body {
    padding-top: 100px;
    background-color: rgba(0, 0, 0, 0.7);
    
}

.logo {
    width: 25%;
    margin: 0 auto;
}

.navbar-brand{

    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    text-align: center;
    margin: auto;
}

h1{
    font-family: 'Metal Mania', cursive;
}