body {
    padding-top: 100px;
    background-color: rgba(0, 0, 0, 0.7);
    
}

.logo {
    width: 25%;
    margin: 0 auto;
}


.row {
    
    font-size: large;
    color: orange;
    border-bottom: 2px solid white;
}

.col-md-2, .col-md-3  {
    text-align: center;
    margin: 4px;   
}



h2{
    color: orange;
}

*{
    font-family: 'Metal Mania', cursive;
}